---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=guatemala&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "amTrqA3dsIGBEt7cVjH0fJAf6WY",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 13,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "J4YUo98C_9KHkWNg5zAX8QP-ixQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "Gl1TY5hQO78"
              },
              "snippet": {
                "publishedAt": "2020-10-13T08:39:31Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Guatemala",
                "description": "Pictures Requiring Attribution: Robert Goodier, USAID on Pixnio: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-10-13T08:39:31Z"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Mar 2023 05:38:31 GMT
recorded_with: VCR 6.1.0
