---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=guatemala
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6f2c693ba59df22dff1c578bd3789fd"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24901'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":335887,"width":4800,"height":2400,"url":"https://www.pexels.com/photo/aerial-view-of-a-city-335887/","photographer":"Saulo
        Zayas","photographer_url":"https://www.pexels.com/@saulo-zayas-22727","photographer_id":22727,"avg_color":"#7A9098","src":{"original":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg","large2x":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Aerial
        View of a City"},{"id":2661176,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/lake-atitlan-2661176/","photographer":"Roberto
        Nickson","photographer_url":"https://www.pexels.com/@rpnickson","photographer_id":1268114,"avg_color":"#86809E","src":{"original":"https://images.pexels.com/photos/2661176/pexels-photo-2661176.jpeg","large2x":"https://images.pexels.com/photos/2661176/pexels-photo-2661176.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026[...]
