---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=suriname&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 08 Mar 2023 03:59:30 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=suriname
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7245dc7e72c8844501149842d30cbf65"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24912'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":6673095,"width":5927,"height":3783,"url":"https://www.pexels.com/photo/the-saint-peter-and-paul-cathedral-in-pamaribo-suriname-6673095/","photographer":"E-Go
        Studios","photographer_url":"https://www.pexels.com/@e-go-studios-1979507","photographer_id":1979507,"avg_color":"#545558","src":{"original":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg","large2x":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"The
        Saint Peter and Paul Cathedral in Pamaribo Suriname"},{"id":13966908,"width":3677,"height":4926,"url":"https://www.pexels.com/photo/the-flag-of-suriname-13966908/","photographer":"aboodi
        vesakaran","photographer_url":"https://www.pexels.com/@aboodi","photographer_id":32881629,"avg_color":"#9EB5C5","src":{"original":"https://images.pexels.com/photos/13966908/pexels-photo-13966908.jpeg","large2x":"https://images.pexels.com/photos/13966908/pexels-photo-13966908.jpeg?auto=compre[...]
