---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=guatemala&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "amTrqA3dsIGBEt7cVjH0fJAf6WY",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 13,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "J4YUo98C_9KHkWNg5zAX8QP-ixQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "Gl1TY5hQO78"
              },
              "snippet": {
                "publishedAt": "2020-10-13T08:39:31Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Guatemala",
                "description": "Pictures Requiring Attribution: Robert Goodier, USAID on Pixnio: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-10-13T08:39:31Z"
              }
            }
          ]
        }
  recorded_at: Tue, 07 Mar 2023 22:50:47 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=guatemala
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6f2c693ba59df22dff1c578bd3789fd"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24933'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":335887,"width":4800,"height":2400,"url":"https://www.pexels.com/photo/aerial-view-of-a-city-335887/","photographer":"Saulo
        Zayas","photographer_url":"https://www.pexels.com/@saulo-zayas-22727","photographer_id":22727,"avg_color":"#7A9098","src":{"original":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg","large2x":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Aerial
        View of a City"},{"id":2661176,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/lake-atitlan-2661176/","photographer":"Roberto
        Nickson","photographer_url":"https://www.pexels.com/@rpnickson","photographer_id":1268114,"avg_color":"#86809E","src":{"original":"https://images.pexels.com/photos/2661176/pexels-photo-2661176.jpeg","large2x":"https://images.pexels.com/photos/2661176/pexels-photo-2661176.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026[...]
