---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/suriname?fullText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Suriname","official":"Republic of Suriname","nativeName":{"nld":{"official":"Republiek
        Suriname","common":"Suriname"}}},"tld":[".sr"],"cca2":"SR","ccn3":"740","cca3":"SUR","cioc":"SUR","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"SRD":{"name":"Surinamese
        dollar","symbol":"$"}},"idd":{"root":"+5","suffixes":["97"]},"capital":["Paramaribo"],"altSpellings":["SR","Sarnam","Sranangron","Republic
        of Suriname","Republiek Suriname"],"region":"Americas","subregion":"South
        America","languages":{"nld":"Dutch"},"translations":{"ara":{"official":"جمهورية
        سورينام","common":"سورينام"},"bre":{"official":"Republik Surinam","common":"Surinam"},"ces":{"official":"Republika
        Surinam","common":"Surinam"},"cym":{"official":"Republic of Suriname","common":"Suriname"},"deu":{"official":"Republik
        Suriname","common":"Suriname"},"est":{"official":"Suriname Vabariik","common":"Suriname"},"fin":{"official":"Surinamen
        tasavalta","common":"Suriname"},"fra":{"official":"République du Suriname","common":"Surinam"},"hrv":{"official":"Republika
        Surinam","common":"Surinam"},"hun":{"official":"Suriname Köztársaság","common":"Suriname"},"ita":{"official":"Repubblica
        del Suriname","common":"Suriname"},"jpn":{"official":"スリナム共和国","common":"スリナム"},"kor":{"official":"수리남
        공화국","common":"수리남"},"nld":{"official":"Republiek Suriname","common":"Suriname"},"per":{"official":"جمهوری
        سورینام","common":"سورینام"},"pol":{"official":"Republika Surinamu","common":"Surinam"},"por":{"official":"República
        do Suriname","common":"Suriname"},"rus":{"official":"Республика Суринам","common":"Суринам"},"slk":{"official":"Surinamská
        republika","common":"Surinam"},"spa":{"official":"República de Suriname","common":"Surinam"},"srp":{"official":"Република
        Суринам","common":"Суринам"},"swe":{"official":"Republiken Surinam","common":"Surinam"},"tur":{"official":"Surinam
        Cumhuriyeti","common":"Surinam"},"urd":{"official":"جمہوریہ سرینام","common":"سرینام"},"zho":{"official":"苏里南共和国","common":"苏里南"}},"latlng":[4.0,-56.0],"landlocked":false,"borders":["BRA","GUF","GUY"],"area":163820.0,"demonyms":{"eng":{"f":"Surinamer","m":"Surinamer"},"fra":{"f":"Surinamaise","m":"Surinamais"}},"flag":"\uD83C\uDDF8\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/iy7TuQLSi4qgoBoG7","openStreetMaps":"https://www.openstreetmap.org/relation/287082"},"population":586634,"gini":{"1999":57.9},"fifa":"SUR","car":{"signs":["SME"],"side":"left"},"timezones":["UTC-03:00"],"continents":["South
        America"],"flags":{"png":"https://flagcdn.com/w320/sr.png","svg":"https://flagcdn.com/sr.svg","alt":"The
        flag of Suriname is composed of five horizontal bands of green, white, red,
        white and green in the ratio of 2:1:4:1:2. A large five-pointed yellow star
        is centered in the red band."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/sr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/sr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[5.83,-55.17]}}]'
  recorded_at: Wed, 08 Mar 2023 05:38:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=suriname&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 08 Mar 2023 05:38:25 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=suriname
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7245dc7e72c8844501149842d30cbf65"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24902'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":6673095,"width":5927,"height":3783,"url":"https://www.pexels.com/photo/the-saint-peter-and-paul-cathedral-in-pamaribo-suriname-6673095/","photographer":"E-Go
        Studios","photographer_url":"https://www.pexels.com/@e-go-studios-1979507","photographer_id":1979507,"avg_color":"#545558","src":{"original":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg","large2x":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/6673095/pexels-photo-6673095.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"The
        Saint Peter and Paul Cathedral in Pamaribo Suriname"},{"id":13966908,"width":3677,"height":4926,"url":"https://www.pexels.com/photo/the-flag-of-suriname-13966908/","photographer":"aboodi
        vesakaran","photographer_url":"https://www.pexels.com/@aboodi","photographer_id":32881629,"avg_color":"#9EB5C5","src":{"original":"https://images.pexels.com/photos/13966908/pexels-photo-13966908.jpeg","large2x":"https://images.pexels.com/photos/13966908/pexels-photo-13966908.jpeg[...]
