---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/nauru?fullText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Nauru","official":"Republic of Nauru","nativeName":{"eng":{"official":"Republic
        of Nauru","common":"Nauru"},"nau":{"official":"Republic of Nauru","common":"Nauru"}}},"tld":[".nr"],"cca2":"NR","ccn3":"520","cca3":"NRU","cioc":"NRU","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"AUD":{"name":"Australian
        dollar","symbol":"$"}},"idd":{"root":"+6","suffixes":["74"]},"capital":["Yaren"],"altSpellings":["NR","Naoero","Pleasant
        Island","Republic of Nauru","Ripublik Naoero"],"region":"Oceania","subregion":"Micronesia","languages":{"eng":"English","nau":"Nauru"},"translations":{"ara":{"official":"جمهورية
        ناورو","common":"ناورو"},"bre":{"official":"Republik Nauru","common":"Nauru"},"ces":{"official":"Republika
        Nauru","common":"Nauru"},"cym":{"official":"Republic of Nauru","common":"Nauru"},"deu":{"official":"Republik
        Nauru","common":"Nauru"},"est":{"official":"Nauru Vabariik","common":"Nauru"},"fin":{"official":"Naurun
        tasavalta","common":"Nauru"},"fra":{"official":"République de Nauru","common":"Nauru"},"hrv":{"official":"Republika
        Nauru","common":"Nauru"},"hun":{"official":"Naurui Köztársaság","common":"Nauru"},"ita":{"official":"Repubblica
        di Nauru","common":"Nauru"},"jpn":{"official":"ナウル共和国","common":"ナウル"},"kor":{"official":"나우루
        공화국","common":"나우루"},"nld":{"official":"Republiek Nauru","common":"Nauru"},"per":{"official":"جمهوری
        نائورو","common":"نائورو"},"pol":{"official":"Republika Nauru","common":"Nauru"},"por":{"official":"República
        de Nauru","common":"Nauru"},"rus":{"official":"Республика Науру","common":"Науру"},"slk":{"official":"Naurská
        republika","common":"Nauru"},"spa":{"official":"República de Nauru","common":"Nauru"},"srp":{"official":"Република
        Науру","common":"Науру"},"swe":{"official":"Republiken Nauru","common":"Nauru"},"tur":{"official":"Nauru
        Cumhuriyeti","common":"Nauru"},"urd":{"official":"جمہوریہ ناورو","common":"ناورو"},"zho":{"official":"瑙鲁共和国","common":"瑙鲁"}},"latlng":[-0.53333333,166.91666666],"landlocked":false,"area":21.0,"demonyms":{"eng":{"f":"Nauruan","m":"Nauruan"},"fra":{"f":"Nauruane","m":"Nauruan"}},"flag":"\uD83C\uDDF3\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/kyAGw6XEJgjSMsTK7","openStreetMaps":"https://www.openstreetmap.org/relation/571804"},"population":10834,"gini":{"2012":34.8},"car":{"signs":["NAU"],"side":"left"},"timezones":["UTC+12:00"],"continents":["Oceania"],"flags":{"png":"https://flagcdn.com/w320/nr.png","svg":"https://flagcdn.com/nr.svg","alt":"The
        flag of Nauru has a dark blue field with a thin yellow horizontal band across
        the center and a large white twelve-pointed star beneath the horizontal band
        on the hoist side of the field."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/nr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/nr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[-0.55,166.92]}}]'
  recorded_at: Wed, 08 Mar 2023 06:39:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=nauru&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "T4jDtYx1dwcrEUkczINxHWtZa_8",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 15,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "6BU_ZsMEdu4mejOa2gt4-soqXE8",
              "id": {
                "kind": "youtube#video",
                "videoId": "SyNZ5q0LIz0"
              },
              "snippet": {
                "publishedAt": "2022-05-22T01:57:03Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Nauru",
                "description": "Pictures Requiring Attribution: Tyk: https://en.wikipedia.org/wiki/File:Languages_of_Micronesia.en.svg Obsidian Soul: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/SyNZ5q0LIz0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/SyNZ5q0LIz0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/SyNZ5q0LIz0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-05-22T01:57:03Z"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Mar 2023 06:39:21 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=nauru
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb3585f53d361d87a93bc28342a022b"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24898'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - bulldog
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[],"total_results":0}'
  recorded_at: Wed, 08 Mar 2023 06:39:22 GMT
recorded_with: VCR 6.1.0
