---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=asdfa&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 08 Mar 2023 03:59:30 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=asdfa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb3585f53d361d87a93bc28342a022b"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24911'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - chameleon
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[],"total_results":0}'
  recorded_at: Wed, 08 Mar 2023 03:59:31 GMT
recorded_with: VCR 6.1.0
