---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "314AlInTijdPJ-VeiM6n7kCQbbU",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 155,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "BA5TINd2rpzew9QS8f1YVa8SiZs",
              "id": {
                "kind": "youtube#video",
                "videoId": "65e09vsw3nE"
              },
              "snippet": {
                "publishedAt": "2022-03-31T22:54:28Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Montenegro",
                "description": "Pictures Requiring Attribution: Trolvag: https://commons.wikimedia.org/wiki/File:Lovcen_-_panoramio.jpg MaryroseB54: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/65e09vsw3nE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/65e09vsw3nE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/65e09vsw3nE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-03-31T22:54:28Z"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Mar 2023 03:46:55 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24917'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - chameleon
    body:
      encoding: UTF-8
      string: '{"status":400,"code":"No query param given"}'
  recorded_at: Wed, 08 Mar 2023 03:46:55 GMT
recorded_with: VCR 6.1.0
