---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/guatemala?fullText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Guatemala","official":"Republic of Guatemala","nativeName":{"spa":{"official":"República
        de Guatemala","common":"Guatemala"}}},"tld":[".gt"],"cca2":"GT","ccn3":"320","cca3":"GTM","cioc":"GUA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"GTQ":{"name":"Guatemalan
        quetzal","symbol":"Q"}},"idd":{"root":"+5","suffixes":["02"]},"capital":["Guatemala
        City"],"altSpellings":["GT"],"region":"Americas","subregion":"Central America","languages":{"spa":"Spanish"},"translations":{"ara":{"official":"جمهورية
        غواتيمالا","common":"غواتيمالا"},"bre":{"official":"Republik Guatemala","common":"Guatemala"},"ces":{"official":"Republika
        Guatemala","common":"Guatemala"},"cym":{"official":"Republic of Guatemala","common":"Guatemala"},"deu":{"official":"Republik
        Guatemala","common":"Guatemala"},"est":{"official":"Guatemala Vabariik","common":"Guatemala"},"fin":{"official":"Guatemalan
        tasavalta","common":"Guatemala"},"fra":{"official":"République du Guatemala","common":"Guatemala"},"hrv":{"official":"Republika
        Gvatemala","common":"Gvatemala"},"hun":{"official":"Guatemalai Köztársaság","common":"Guatemala"},"ita":{"official":"Repubblica
        del Guatemala","common":"Guatemala"},"jpn":{"official":"グアテマラ共和国","common":"グアテマラ"},"kor":{"official":"과테말라
        공화국","common":"과테말라"},"nld":{"official":"Republiek Guatemala","common":"Guatemala"},"per":{"official":"جمهوری
        گواتِمالا","common":"گواتِمالا"},"pol":{"official":"Republika Gwatemali","common":"Gwatemala"},"por":{"official":"República
        da Guatemala","common":"Guatemala"},"rus":{"official":"Республика Гватемала","common":"Гватемала"},"slk":{"official":"Guatemalská
        republika","common":"Guatemala"},"spa":{"official":"República de Guatemala","common":"Guatemala"},"srp":{"official":"Република
        Гватемала","common":"Гватемала"},"swe":{"official":"Republiken Guatemala","common":"Guatemala"},"tur":{"official":"Guatemala
        Cumhuriyeti","common":"Guatemala"},"urd":{"official":"جمہوریہ گواتیمالا","common":"گواتیمالا"},"zho":{"official":"危地马拉共和国","common":"危地马拉"}},"latlng":[15.5,-90.25],"landlocked":false,"borders":["BLZ","SLV","HND","MEX"],"area":108889.0,"demonyms":{"eng":{"f":"Guatemalan","m":"Guatemalan"},"fra":{"f":"Guatémaltèque","m":"Guatémaltèque"}},"flag":"\uD83C\uDDEC\uD83C\uDDF9","maps":{"googleMaps":"https://goo.gl/maps/JoRAbem4Hxb9FYbVA","openStreetMaps":"https://www.openstreetmap.org/relation/1521463"},"population":16858333,"gini":{"2014":48.3},"fifa":"GUA","car":{"signs":["GCA"],"side":"right"},"timezones":["UTC-06:00"],"continents":["North
        America"],"flags":{"png":"https://flagcdn.com/w320/gt.png","svg":"https://flagcdn.com/gt.svg","alt":"The
        flag of Guatemala is composed of three equal vertical bands of light blue,
        white and light blue, with the national coat of arms centered in the white
        band."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/gt.png","svg":"https://mainfacts.com/media/images/coats_of_arms/gt.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[14.62,-90.52]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Wed, 08 Mar 2023 05:38:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=guatemala&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "amTrqA3dsIGBEt7cVjH0fJAf6WY",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 13,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "J4YUo98C_9KHkWNg5zAX8QP-ixQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "Gl1TY5hQO78"
              },
              "snippet": {
                "publishedAt": "2020-10-13T08:39:31Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Guatemala",
                "description": "Pictures Requiring Attribution: Robert Goodier, USAID on Pixnio: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/Gl1TY5hQO78/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-10-13T08:39:31Z"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Mar 2023 05:38:23 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=guatemala
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6f2c693ba59df22dff1c578bd3789fd"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24904'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - caterpillar
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[{"id":335887,"width":4800,"height":2400,"url":"https://www.pexels.com/photo/aerial-view-of-a-city-335887/","photographer":"Saulo
        Zayas","photographer_url":"https://www.pexels.com/@saulo-zayas-22727","photographer_id":22727,"avg_color":"#7A9098","src":{"original":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg","large2x":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/335887/pexels-photo-335887.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Aerial
        View of a City"},{"id":2661176,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/lake-atitlan-2661176/","photographer":"Roberto
        Nickson","photographer_url":"https://www.pexels.com/@rpnickson","photographer_id":1268114,"avg_color":"#86809E","src":{"original":"https://images.pexels.com/photos/2661176/pexels-photo-2661176.jpeg","large2x":"https://images.pexels.com/photos/2661176/pexels-photo-2661176.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u002[...]
