---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=nauru&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "T4jDtYx1dwcrEUkczINxHWtZa_8",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 15,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "6BU_ZsMEdu4mejOa2gt4-soqXE8",
              "id": {
                "kind": "youtube#video",
                "videoId": "SyNZ5q0LIz0"
              },
              "snippet": {
                "publishedAt": "2022-05-22T01:57:03Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Nauru",
                "description": "Pictures Requiring Attribution: Tyk: https://en.wikipedia.org/wiki/File:Languages_of_Micronesia.en.svg Obsidian Soul: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/SyNZ5q0LIz0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/SyNZ5q0LIz0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/SyNZ5q0LIz0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-05-22T01:57:03Z"
              }
            }
          ]
        }
  recorded_at: Tue, 07 Mar 2023 22:50:48 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=nauru
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb3585f53d361d87a93bc28342a022b"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24932'
      X-Ratelimit-Reset:
      - '1680736644'
      X-Server:
      - bulldog
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":10,"photos":[],"total_results":0}'
  recorded_at: Tue, 07 Mar 2023 22:50:48 GMT
recorded_with: VCR 6.1.0
